doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  style
    include main.css
    include util.css
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-form-title(style='background-image: url(pic7.jpg);')
        span.login100-form-title-1
          | Sign In
      form.login100-form.validate-form(method="POST" action="/logincheck")
        .wrap-input100.validate-input.m-b-26(data-validate='Username is required')
          span.label-input100 Username
          input.input100(type='text' name='user' placeholder='Enter username')
          span.focus-input100
        .wrap-input100.validate-input.m-b-18(data-validate='Password is required')
          span.label-input100 Password
          input.input100(type='password' name='password' placeholder='Enter password')
          span.focus-input100
        .container-login100-form-btn
          button.login100-form-btn
            | Login
        .flex-sb-m.w-full.p-b-30.p-t-30
          .contact100
            a.txt1(href="#")
              | Forgot Password?
          div
            a.txt1(href='signup')
              | Create an Account
        //- .container.text-center.signup.p-t-30
        //-   a.txt2(href='signup')
        //-     | Create your Account
        //-     i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
       
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/daterangepicker/moment.min.js')
script(src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(src='vendor/countdowntime/countdowntime.js')
// ===============================================================================================
script(src='js/main.js')
