

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
  }
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      /* margin: 0px; 
      padding: 0px;  */
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: sans-serif;
      overflow-y: auto;
  }
  
  /* ------------------------------------ */
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /* ------------------------------------ */
  input {
    /* display: block; */
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utiliti ]*/
  
  
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
    margin-top:50px;
  }
  
  .container-table100 {
    width: 100%;
    /* min-height: 100vh; */
      /* background: #c850c0;
      background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
      background: -o-linear-gradient(45deg, #4158d0, #c850c0);
      background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
      background: linear-gradient(45deg, #4158d0, #c850c0); */
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
    overflow-y: auto;
  }
  /* .cont{
    margin: 0px !important;
  } */
  
  
  /* @media (max-width: 576px) {
    .container-table100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  } */


  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .column1 {
    width: 260px;
    padding-left: 40px;
    text-align: center;
  }
  
  .column2 {
    width: 160px;
    text-align: center;
  }
  
  .column3 {
    width: 245px;
    text-align: center;
  }
  
  .column4 {
    width: 110px;
    text-align: center;
  }
  
  .column5 {
    width: 170px;
    text-align: center;
  }
  
  .column6 {
    width: 170;
    text-align: center;
  }
  .column7{
    width: 222px;
    text-align: center;
  }
  .column8{
    width: 222px;
    text-align: center;
  }
  .column9{
    width: 222px;
    text-align: center;
  }
  .column10{
    width: 222px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      width: 100%;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;

    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }


    table tbody tr th:nth-child(1):before {
      content: "NUMBER";
    }
    table tbody tr td:nth-child(2):before {
      content: "CLIENTS";
    }
    table tbody tr td:nth-child(3):before {
      content: "VENDORS";
    }
    table tbody tr td:nth-child(4):before {
      content: "ITEM";
    }
    table tbody tr td:nth-child(5):before {
      content: "QUANTITY";
    }
    table tbody tr td:nth-child(6):before {
      content: "EXPECTED DELIVERY DATE";
    }
    table tbody tr td:nth-child(7):before {
      content: "ADDRESS";
    }
    table tbody tr td:nth-child(8):before {
      content: "ORDER-STATUS";
    }
    table tbody tr td:nth-child(10):before {
      content: "DELIVERED QUANTITIES";
    }
    table tbody tr td:nth-child(11):before {
      content: "UPDATE";
    }
  }