doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='A sidebar menu as seen on the Google Nexus 7 website')
  meta(name='keywords' content='google nexus 7 menu, css transitions, sidebar, side menu, slide out menu')
  meta(name='author' content='Codrops')
  link(rel='shortcut icon' href='../favicon.ico')
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js") 
  style
    include component.css
  style
    include demo.css
  style
    include normalize.css
  style
    include style.css
  style
    include style1.css
  script
    include ../Js/modernizr.custom.js
body.neworder
.container
    ul#gn-menu.gn-menu-main
        li.gn-trigger
            a.gn-icon.gn-icon-menu
                span Menu
            nav.gn-menu-wrapper
                .gn-scroller
                    ul.gn-menu
                        li
                            a(href='/neworders')
                                img.ico_n(src='new-orders.png ')
                                | Create New Orders
                        li
                             a(href='/pendingorders')
                                img.ico_n(src='delivered.png')
                                | Pending Orders
                        li
                            a(href='/delivered')
                                img.ico_n(src='par-delivered.png ')
                                | Delivered Orders
                        li
                            a(href='/delete_orders')
                                img.ico_n(src='delete.png ')
                                | Delete Orders
        // /gn-scroller
        li
            a(href='logout')
                img.ico_n(src='logout.png')
                | Logout


.page-wrapper.p-t-180.p-b-100.font-robo
  .wrapper.wrapper--w960
    .card.card-1
      .card-heading
      .card-body
        h2.title New Orders
        form(method='POST' action="/new_orders")
          .row.row-space
            .col-6
                .input-group
                    input.input--style-2(type='text' placeholder="CLIENT" name="CLIENT" required)
            .col-6
                .input-group
                    input.input--style-2(type='text' placeholder="VENDOR" name="VENDOR" required)   
            .col-6                                    
                .input-group
                    input.input--style-2.js-datepicker(type='text' placeholder="ITEM" name="ITEM" required)
            .col-6
                .input-group
                    input.input--style-2.js-datepicker(type='number' placeholder="QUANTITY" name="QUANTITY" required)
          .input-group
            label EXPECTED DATE OF DELIEVRY
            input.input--style-2.js-datepicker(type="date" placeholder="EXPECTED-DELIVERY-DATE" name="date" required) 
          .input-group
            label ORDER PLACED ON
            input.input--style-2.js-datepicker(type="date" placeholder="order_placed_on" name="order_placed_on" required) 
          .input-group        
            input.input--style-2.js-datepicker(type="text" placeholder="ADDRESSS" name="ADDRESS" required)
          .p-t-30
            button.btn.btn--radius.btn--green(type='submit') Place Order


script
    include ../Js/classie.js
    include ../Js/gnmenu.js
    include ../Js/modernizr.custom.js
    include ../Js/temp.js
