head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    style
      include style1.css
body(class="bg-color")
    nav(class="navbar navbar-expand-lg navbar-light bg-light nav-bar")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarTogglerDemo01")
            a(class="navbar-brand" href="#") 
            ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
                li(class="nav-item active")
                    a(class="nav-link" href="/neworders") CREATE NEW ORDERS 
                        span(class="sr-only")(current)
                li(class="nav-item")
                    a(class="nav-link" href="/pendingorders") PENDING ORDERS
                li(class="nav-item")
                    a(class="nav-link" href="/delivered") DELIVERED ORDERS
                li(class="nav-item")
                    a(class="nav-link" href="/delete_orders") DELETE ORDERS
            form(class="form-inline my-2 my-lg-0")
                input(class="form-control mr-sm-2 box-search" type="search" placeholder="Search" aria-label="Search")
                button(class="btn btn-outline-success btn-search my-2 my-sm-0" type="submit") Search
    div(class="container")
        form(method="POST" action="/new_orders")
            div(class="row")
                div(class="col-md-4 col-sm-12")
                    label(class="") CLIENT NAME
                    input(type="text" class="form-control" placeholder="CLIENT" name="CLIENT")
                div(class="col-md-4 col-sm-12")
                    label() VENDOR
                    input(type="text" class="form-control" placeholder="VENDOR" name="VENDOR")                      
                div(class="col-md-4 col-sm-12")
                    label() ITEM
                    input(type="text" class="form-control" placeholder="ITEM" name="ITEM")                      
            div(class="row pt-4")
                div(class="col-md-4 col-sm-12")
                    label() QUANTITY
                    input(type="number" class="form-control" placeholder="QUANTITY" name="QUANTITY")                      
                div(class="col-md-4 col-sm-12")
                    label() EXPECTED DELIVERY DATE
                    input(type="date" class="form-control" placeholder="EXPECTED-DELIVERY-DATE" name="date")                      
                div(class="col-md-4 col-sm-12")
                    label() PROPERTY ADDRESS
                    input(type="text" class="form-control" placeholder="ADDRESSS" name="ADDRESS")
            div(class="row pt-4")
                div(class="col-md-6 col-sm-12")
                    button(type="submit" class="btn btn-primary mt-3 btn-order" name="submit") PLACE ORDER
