extends ../node_modules/jade-bootstrap/_bootstrap
block body 
  button.btn.btn-primary(data-toggle="modal",data-target="#myModal") Launch demo modal
  +modal("Modal title","myModal")
          p This is modal content