head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")    
    style
      include style1.css
body
    div(class="container")
        div(class="row")
            div(class="col-md-4 desc1") My name is Rishita Jain.
            div(class="col-md-4 desc2") I am pursuing telecommunication engineering from Dayananda Sagar College of Engineering.
            div(class="col-md-4 desc3") I have finished my second year.
nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand" href="#") Navbar
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse" id="navbarNav")
    ul(class="navbar-nav")
      li(class="nav-item active")
        a(class="nav-link" href="#">Home <span class="sr-only")
      li(class="nav-item")
        a(class="nav-link" href="#") Features
      li(class="nav-item")
        a(class="nav-link" href="#") Pricing
      li(class="nav-item")
        a(class="nav-link disabled" href="#") Disabled



table
  tr
  th First Name
  th Last Name
  th Points
  th quantity
  th rate
  th clients
  th vendors

  tr
  td Peter
  td Griffin
  td $100
  td 544
  td 66666
  td iujhbdhmks bs
  td jndbyhb fhhs

  tr
  td Lo
  td Gr
  td $150
  td Lo
  td Gr
  td $150
  td f
  tr
  td Joe
  td Swanson
  td $300
  tr
  td Cleveland
  td Brown
  td $250


  

